p {background-color: rgb(47, 85, 255) ;
    color: rgb(255, 8, 0);
}
button{
    color: blueviolet;
    background-color: aqua;
}
.p1{
    background-color: beige;
    color: green;
    font-size: 29px;
    font-weight: bold;
    font-style: oblique ;
    /* text-align: center; */
    justify-content: center;
}
#p1{
    background-color: black;
    color: red;
}